body {
    font-family: Arial;
    background: linear-gradient(135deg,#a5b4fc,#fbcfe8);
    text-align:center;
    padding:20px;
}

input, select, button {
    padding:10px;
    margin:5px;
    border-radius:10px;
    border:none;
}

button {
    background:#4f46e5;
    color:white;
    cursor:pointer;
}

.card {
    background:white;
    padding:15px;
    margin:10px;
    border-radius:15px;
}